<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="AutoLotEntitiesModel" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\User\Desktop\Virsta_Roxana_lab4\AutoLot.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>